<!-- two way data binding -->

<!-- city:<input type=" text" [(ngModel)]="city">
<p>{{city }}</p>
<button (click)="updatecity()">update</button> -->

<!-- directives -->
 <!-- <h1 ng if=show>this is heading</h1> -->
 <!-- <table>
    <tr ngfor='let m of movies'>
        <td>{{movies}}</td>

    </tr>
 </table> -->
 <h1 ngif="showhead" sample>this is heading</h1>
 <div>{{movies}}</div>

 <ng-template #sample >
hjkhjdhjkewhddewhklewjed;yugugguyguy
 </ng-template>

 <p *ngfor="let n of nums"></p>
 